/*
    style.css - this stylesheet is linked from index.html to apply styles to the products home page.
    Add all of your custom styles here.
*/

#topbar {
    position: sticky;
    width: 100%;
    background-color: white;
    
    top: 0;
}

html, body, h1 { /*Incorporated to remove white-space that appears above and below sticky elements when scrolling*/
    margin-top: 0;
    margin-bottom: 0;

}
h1{
    font-family: cursive; 
}

p {
    font-family: cursive;
}

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
  }

  body {
      height: 100vh;
      /* grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      'header header header'
      'header-img header-img header-img'
      'nav nav nav'
      'main main main'
      'footer footer footer'; */
      margin: 0;
      padding: 0;
      display: block;
                                
  }

  main {
    overflow: auto;
      /* grid-area: main;  */
      height: 100%; 
      
      padding-left: 20px
      
  }

  nav div {
    display: inline-block;
    margin-right: auto;
    
    /* grid-area: nav; */
  
    
} 

nav {
    display: flexbox;
    border-top:  1px solid black;
    border-bottom: 1px solid black;
    margin-top: 10px;
    height: 20px;
    background-color: white;
    top: 220px;
    font-family: cursive;
    text-decoration:blue;
   


}

.left-links {
    text-align: left;
    flex-grow: 1;
   
}
.right-links{
    float: right;
    flex-grow: 0;
    
  }

#searchBox {
    float: right;
    padding: 5px;
    border-radius: 5%;

}
 

  #product-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 5px;
      grid-area: product-cards;
      margin-top: 0;

  }

  .product-card {
    
      display: grid;
      /* grid-template-rows: 25px 25px 175px 25px; */
      grid-template-columns: 1fr auto;
      gap: 10px;
      border: 1px solid black;
      padding: 10px;
      width: 250px;
      height: 275px;
      grid-template-areas:
      'sku price'
      'product-name product-name' 
      'product-image product-image'
      'cart cart';
  }

  .sku {
      grid-area: sku;
      font-family: cursive;
 }
  
 .price {
     grid-area: price;
     font-family: cursive;
 }

 .product-name {
     grid-area: product-name;
     cursor: pointer;
     font-family: cursive;
 }

 .product-image {
     grid-area: product-image;
 }

 .product-image > img {
     max-height: 100%;
     max-width: 100%;
     border-radius: 10%;
     grid-area: product-image;
 }

 .cart {
     grid-area: cart;
     display: flex;
     justify-content: end;
     cursor: pointer;
 }

footer {
    
    position: fixed;
    background-color: white;
    width: 100%;
    bottom: 0px; 
    text-align: left;
    border-top: 2px solid black;
}